<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/bibimbap"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bibimbap"
        android:supportsRtl="true"
        android:theme="@style/Theme.StartMVVM"
        tools:targetApi="31">
        <activity
            android:name=".presentor.activities.CategoriesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentor.activities.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>